<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [3]:
import csv
%precision 2

with open('C:\\Users\\Avnish Sharma\\Desktop\\Data_Analysis\\Python_data_analysis\\Inputs\\mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [4]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [5]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

 <br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [6]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [9]:
sum(float(d['hwy']) for d in mpg)/len(mpg)

23.44

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [11]:
cylinders= set((d['cyl']) for d in mpg)

In [12]:
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [34]:
CtyMpgByCyl=[]

for c in cylinders:
    summpg=0
    cyltypecount=0
    for d in mpg:
        if d['cyl']==c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c,summpg/cyltypecount))
    

CtyMpgByCyl.sort(key=lambda x: x[1])
CtyMpgByCyl

[('8', 12.57), ('6', 16.22), ('5', 20.50), ('4', 21.01)]

OrderedDict([('', '1'),
             ('manufacturer', 'audi'),
             ('model', 'a4'),
             ('displ', '1.8'),
             ('year', '1999'),
             ('cyl', '4'),
             ('trans', 'auto(l5)'),
             ('drv', 'f'),
             ('cty', '18'),
             ('hwy', '29'),
             ('fl', 'p'),
             ('class', 'compact')])

<br>
Use `set` to return the unique values for the class types in our dataset.

In [20]:
classtype=set((d['class']) for d in mpg)
classtype

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [33]:
classhwympg=[]
for j in classtype:
    Average=0
    Count=0
    for d in mpg:
        if d['class']==j:
            Average+= float(d['hwy'])
            Count+=1
    classhwympg.append((j,Average/Count))

classhwympg.sort(key=lambda x:x[1])
classhwympg

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]